<div class="login-template">
    <div class="wrapper-page">
        <div class="card">
            <a class="navbar-brand js-scroll-trigger text-center" href="#page-top" routerLinkActive = "active"  [routerLink] = "['']">
                <i class="fa fa-magic"></i> Alohomora.io
            </a>
            <div class="card-block">
                <form>
                    <h5 class="card-title text-center">Sign in</h5>
                    <div class="form-group text-center">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                    </div>
                    <div class="form-group text-center">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>

                    <a href="#" class="btn btn-primary btn-block waves-effect waves-light">Spell</a>
                </form>
                <div class="form-group text-center">
                    <a href="#" class="text-left">Forgot your password</a> or <a href="#" >Register</a>

                </div>
            </div>
        </div>
    </div>
</div>