<!-- Navigation -->
<nav class="navbar navbar-toggleable-md  navbar-light fixed-top" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand js-scroll-trigger" href="#page-top" routerLinkActive = "active"  [routerLink] = "['']"><i class="fa fa-magic"></i> Alohomora.io</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav right">
      <a class="nav-item nav-link" routerLinkActive = "active"  [routerLink] = "['home']">Home</a>
      <a class="nav-item nav-link" routerLinkActive = "active"  [routerLink] = "['discussion']">Dicussion</a>
      <a class="nav-item nav-link" href="#">Login</a>
      <a class="nav-item nav-link" href="#">Register</a>
    </div>
  </div>
</nav>





